# secrets
venv/
.env/
.env

# runtime folders
data/*
outputs/*
inputs/*

# keep the folders themselves
!data/.gitkeep
!outputs/.gitkeep
!inputs/.gitkeep

# python
__pycache__/
*.pyc
*.pyo
.venv/

# IDE
.vscode/
.idea/